@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carattere&display=swap');

body {
    display: flex; /* Menggunakan flexbox untuk tata letak */
    align-items: center; /* Pusatkan secara vertikal */
    justify-content: center; /* Pusatkan secara horizontal */
    height: 100vh; /* 100% tinggi viewport */
    margin: 0px; /* Hapus margin default */
}

.image-container {
    text-align: center; /* Pusatkan teks di dalam container */
    width: 100%; /* Lebar maksimum */
    height: 100%; /* Tinggi maksimum */
}

.image-column {
    display: flex; /* Menggunakan flexbox untuk tata letak kolom */
    flex-direction: column; /* Tampilkan elemen dalam kolom */
    align-items: center; /* Pusatkan elemen secara horizontal */
    background-color: black;
}

img {
    width: 100vh; /* Sesuaikan lebar gambar agar tetap proporsional */
    height: 100vh; /* Sesuaikan tinggi gambar agar tetap proporsional */
    max-width: 100%; /* Batasi lebar maksimum */
    max-height: 100%; /* Batasi tinggi maksimum */
    margin: 0px 0; /* Jarak antar gambar */
}

.text1 {
    font-family: 'Cinzel', serif;
    position: absolute; /* Gunakan posisi absolut */
    top: 20%; /* Atur posisi vertikal */
    left: 50%; /* Atur posisi horizontal */
    transform: translate(-50%, -50%); /* Pusatkan elemen */
    color: white; /* Warna teks putih */
    font-size: 20px; /* Ukuran font */
    /* font-weight: bold; */
    text-align: center; /* Pusatkan teks secara horizontal */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Efek bayangan teks */
}

.text2 {
    font-family: 'Carattere', cursive;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 50px;
    /* font-weight: bold; */
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.text3 {
    font-family: 'Carattere', cursive;
    position: absolute;
    top: 37%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 30px;
    /* font-weight: bold; */
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.text4 {
    font-family: 'Carattere', cursive;
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 50px;
    /* font-weight: bold; */
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.text5 {
    font-family: 'Cinzel', serif;
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 17px;
    /* font-weight: bold; */
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.text6 {
    font-family: 'Cinzel', serif;
    position: absolute;
    top: 63%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 12px;
    /* font-weight: bold; */
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.text7 {
    font-family: 'Cinzel', serif;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.text8 {
    font-family: 'Cinzel', serif;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 12px;
    /* font-weight: bold; */
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.bukaUndangan {
	background-color:#cba35c;
	border-radius:28px;
	border:1px solid #cba35c;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ded17c;
}
.bukaUndangan:hover {
	background-color:#f2ab1e;
}
.bukaUndangan:active {
	position:relative;
	top:1px;
}

.text9 {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 55px;
    /* font-weight: bold; */
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

       #floatingButton {
            position: fixed;
            bottom: 20px;
            right: 12px;
            background-color: #ffffff;
            color: #000;
            padding: 10px 13px;
            border: none;
            z-index: 99999;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        #floatingButton:hover {
            background-color: #cba35c;
        }

        #audioPlayer {
            display: none; /* Menyembunyikan tampilan audio */
        }

@media only screen and (max-width: 767px) {

img {
    width: auto; /* Sesuaikan lebar gambar agar tetap proporsional */
    height: auto; /* Sesuaikan tinggi gambar agar tetap proporsional */
    max-width: 100%; /* Batasi lebar maksimum */
    max-height: 100%; /* Batasi tinggi maksimum */
    margin: 0px 0; /* Jarak antar gambar */
}
}
