@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.image-container-d {
    text-align: center;
    width: 100%;
    height: 100%;
}

.image-column-d {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; /* Tambahkan posisi relatif */
}

img {
    width: 100vh;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
    margin: 0;
}

.text1-e {
    font-family: 'DM Serif Display', serif;
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 30px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    width: auto;
    padding: 0;
    white-space: nowrap;
}

.text2-e {
    font-family: 'DM Serif Display', serif;
    position: absolute;
    top: 38%;
    left: 40%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 22px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    width: auto;
    padding: 0;
    white-space: nowrap;
}

.text3-e {
    font-family: 'DM Serif Display', serif;
    position: absolute;
    top: 38%;
    left: 60%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 22px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    width: auto;
    padding: 0;
    white-space: nowrap;
}

.text4-e {
    font-family: 'DM Serif Display', serif;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 54px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    width: auto;
    padding: 0;
    white-space: nowrap;
}

.text5-e {
    font-family: 'DM Serif Display', serif;
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 22px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    width: auto;
    padding: 0;
    white-space: nowrap;
}

.text6-e {
    font-family: 'DM Serif Display', serif;
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #cba35c;
    font-size: 22px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    width: auto;
    padding: 0;
    white-space: nowrap;
}

.text7-e {
    font-family: 'DM Serif Display', serif;
    position: absolute;
    top: 61%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 19px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    width: auto;
    padding: 0;
    white-space: nowrap;
}

.text8-e {
    font-family: 'DM Serif Display', serif;
    position: absolute;
    top: 67%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 15px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    width: auto;
    padding: 0;
    white-space: nowrap;
}

.text9-e {
    font-family: 'DM Serif Display', serif;
    position: absolute;
    top: 81%;
    left: 33%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    width: auto;
    padding: 0;
    white-space: nowrap;
}

.text10-e {
    font-family: 'DM Serif Display', serif;
    position: absolute;
    top: 81%;
    left: 45%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    width: auto;
    padding: 0;
    white-space: nowrap;
}

.text11-e {
    font-family: 'DM Serif Display', serif;
    position: absolute;
    top: 81%;
    left: 57%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    width: auto;
    padding: 0;
    white-space: nowrap;
}

.text12-e {
    font-family: 'DM Serif Display', serif;
    position: absolute;
    top: 81%;
    left: 70%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    width: auto;
    padding: 0;
    white-space: nowrap;
}

.ring-a {
    position: absolute;
    top: 180px;
    left: 590px;
    z-index: 1;
    width: 100px; /* Atur lebar gambar */
    height: auto;
    /* Sesuaikan properti lain jika diperlukan */
}

@media only screen and (max-width: 767px) {
img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    margin: 0;
}

.text1-e {
    font-family: 'DM Serif Display', serif;
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 30px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    width: auto;
    padding: 0;
    white-space: nowrap;
}

.text2-e {
    font-family: 'DM Serif Display', serif;
    position: absolute;
    top: 28%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 22px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    width: auto;
    padding: 0;
    white-space: nowrap;
}

.text3-e {
    font-family: 'DM Serif Display', serif;
    position: absolute;
    top: 28%;
    left: 73%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 22px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    width: auto;
    padding: 0;
    white-space: nowrap;
}

.text4-e {
    font-family: 'DM Serif Display', serif;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 54px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    width: auto;
    padding: 0;
    white-space: nowrap;
}

.text5-e {
    font-family: 'DM Serif Display', serif;
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 22px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    width: auto;
    padding: 0;
    white-space: nowrap;
}

.text6-e {
    font-family: 'DM Serif Display', serif;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #cba35c;
    font-size: 22px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    width: auto;
    padding: 0;
    white-space: nowrap;
}

.text7-e {
    font-family: 'DM Serif Display', serif;
    position: absolute;
    top: 51%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 19px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    width: auto;
    padding: 0;
    white-space: nowrap;
}

.text8-e {
    font-family: 'DM Serif Display', serif;
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 15px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    width: auto;
    padding: 0;
    white-space: nowrap;
}

.text9-e {
    font-family: 'DM Serif Display', serif;
    position: absolute;
    top: 71%;
    left: 33%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    width: auto;
    padding: 0;
    white-space: nowrap;
}

.text10-e {
    font-family: 'DM Serif Display', serif;
    position: absolute;
    top: 71%;
    left: 45%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    width: auto;
    padding: 0;
    white-space: nowrap;
}

.text11-e {
    font-family: 'DM Serif Display', serif;
    position: absolute;
    top: 71%;
    left: 57%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    width: auto;
    padding: 0;
    white-space: nowrap;
}

.text12-e {
    font-family: 'DM Serif Display', serif;
    position: absolute;
    top: 71%;
    left: 70%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    width: auto;
    padding: 0;
    white-space: nowrap;
}

.ring-a {
    position: absolute;
    top: 189px;
    left: 185px;
    z-index: 1;
    width: 100px; /* Atur lebar gambar */
    height: auto;
    /* Sesuaikan properti lain jika diperlukan */
}
}
